set incsearch
set ignorecase
set smartcase
set scrolloff=5
set multiple-cursors
set commentary
set surround
set NERDTree
set showmode
set noerrorbells
set visualbell
set keep-english-in-normal-and-restore-in-insert

vmap fy "+y

nmap <leader>rn :<C-u>action RenameElement<CR>
nmap <leader>cf :<C-u>action ReformatCode<CR>
nmap gcc :<C-u>action CommentByLineComment<CR>
vmap gc :<C-u>action CommentByLineComment<CR>


let mapleader = " "

nmap <leader>fs :<C-u>action GotoSymbol<CR>
nmap <leader>fw :<C-u>action FindInPath<CR>
nmap <leader>fo :<C-u>action RecentFiles<CR>
nmap <leader>j :<C-u>action GotoNextError<CR>
nmap <leader>k :<C-u>action GotoPreviousError<CR>
nmap ga :<C-u>action GotoAction<CR>
nmap gb :<C-u>action JumpToLastChange<CR>
nmap gc :<C-u>action GotoClass<CR>
nmap gd :<C-u>action GotoDeclaration<CR>
nmap gi :<C-u>action GotoImplementation<CR>
nmap gf :<C-u>action GotoFile<CR>
nmap gm :<C-u>action GotoSymbol<CR>
nmap gu :<C-u>action ShowUsages<CR>
nmap gt :<C-u>action GotoTest<CR>
nmap gp :<C-u>action FindInPath<CR>
nmap gr :<C-u>action RecentFiles<CR>
nmap gh :<C-u>action Back<CR>
nmap gl :<C-u>action Forward<CR>

map <C-j> 3j
map <C-k> 3k
