auto-save-list/
straight/
.cache/
eln-cache/
transient/
.lsp-session-v1
games/
recentf
repos/
eshell/
projectile-bookmarks.eld
history
langserver/
undo-fu-session/
projects
blink-search/
custom
projectile.cache
rime/
learn/
eaf/
custom-local/
blink-search.db
